	</div>
      </div>
      <div id="installStarter">
	Welcome to
	<img id="coontiLogoWhite" src="{% media '_/seed/img/coonti-logo-white.png' resize 250x- crop top left %}"/>
	<a id="letsStart" href="#">Let's start &gt;</a>
      </div>
      <section id="footer">
        <div id="imageCredits">
          <a href="https://www.flickr.com/photos/46785534@N06/9077115306/" target="_blank">Summernight Blue, 2</a> by <a href="https://www.flickr.com/photos/46785534@N06/" target="_blank">Anita</a>
        </div>
        <div id="coontiVersion">
          <a href="http://coonti.org" target="_blank"><strong>Coonti {{ coonti.version }}</strong> &#8211;
          {{ coonti.release }}</a>
        </div>
      </section>
    </section>
  </body>
{% js "js-after" %}
</html>
