<div ng-if="!(media.directories | isOfSize : 1)">
  <label for="mediaDir">Select Media Directory</label>
  <select id="mediaDir" ng-model="media.dir" ng-options="k as k for (k, v) in media.directories">
  </select>
</div>

<table class="table table-striped table-condensed table-responsive">
  <thead>
	<tr class="coontiSelectedSort_{{ media.pagination.sort }}">
	  <th>Thumbnail</th>
	  <th><coonti-sort-link-embed sort-data="media.pagination" href="#/media/{{ media.dir }}/" title="Name" key="name"/></th>
	  <th><coonti-sort-link-embed sort-data="media.pagination" href="#/media/{{ media.dir }}/" title="Type" key="type"/></th>
	  <th><coonti-sort-link-embed sort-data="media.pagination" href="#/media/{{ media.dir }}/" title="Size" key="size"/></th>
	  <th><coonti-sort-link-embed sort-data="media.pagination" href="#/media/{{ media.dir }}/" title="Modified" key="mtime"/></th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
	<tr ng-repeat="file in media.items">
	  <td class="center">
		<a href="{{ media.path }}{{ media.dir }}/{{ file.name }}" target="_blank"><img class="coontiThumbnail" ng-attr-src="{{ media.path }}{{ file.thumbnail }}"/></a>
	  </td>
	  <td><a href="{{ media.path }}{{ media.dir }}/{{ file.name }}" target="_blank">{{ file.name }}</a></td>
	  <td>{{ file.type | limitTo : 20 : 0}}</td>
	  <td>{{ file.size }}</td>
	  <td>{{ file.mtime | date : 'MMM d, yyyy H.mm' }}</td>
	  <td>
		<a ng-click="onMediaAction(media.path, media.dir, file)">{{ mediaAction }}</a>
	  </td>
	</tr>
  </tbody>
</table>

<coonti-pagination sort-data="media.pagination" embed="true" page="media" href="#/media/{{ media.dir }}/"/>

