<h1 class="page-header">Roles</h1>
<table class="table table-striped table-condensed table-responsive">
  <thead>
	<tr>
	  <th>Role</th>
	  <th>Description</th>
	  <th>Actions</th>
	</tr>
  </thead>
  <tbody>
	<tr ng-repeat="item in role.roles|orderObjectBy:'name'">
	  <td><a href="#/users/role/view/{{ item._id }}">{{ item.name }}</a></td>
	  <td>{{ item.description }}</td>
	  <td>	
		<a href="#/users/role/view/{{ item._id }}">View</a> |
		<a href="#/users/role/edit/{{ item._id }}">Edit</a> |
		<a ng-click="remove(item)" href="">Remove</a>
	  </td>
	</tr>
  </tbody>
</table>

<p><button goto="/users/role/add">Add a New Role</button></p>