<h1 class="page-header">Change Password for '{{ user.account }}'</h1>

<section>
  <div class="coontiNgFormElement row" ng-if="currentUser">
    <div class="col-sm-2">
	  <label for="currentPassword" class="formElementRequired">Current Password</label>
	</div>
    <div class="col-sm-10">
	  <input type="password" id="currentPassword" name="currentPassword" ng-model="$parent.currentPassword"/>
	</div>
  </div>
  <div class="coontiNgFormElement row">
    <div class="col-sm-2">
	  <label for="userPassword" class="formElementRequired">New Password</label>
	</div>
    <div class="col-sm-10">
	  <input type="password" id="userPassword" name="userPassword" ng-model="password"/>
	</div>
  </div>
  <div class="coontiNgFormElement row">
    <div class="col-sm-2">
      <label for="userPassword2" class="formElementRequired">Input Again</label>
    </div>
    <div class="col-sm-10">
      <input type="password" id="userPassword2" name="userPassword2" ng-model="password2"/>
    </div>
  </div>
</section>

<section>
<p><button ng-click="change()">Change</button> <button ng-if="!currentUser" ng-click="remove()">Remove</button> <button back>Cancel</button></p>
</section>