.angular-ui-tree ol.angular-ui-tree-nodes {
    border: none;
}

.angular-ui-tree > ol.angular-ui-tree-nodes {
    border-bottom: 1px solid #ddd;
}

.angular-ui-menu-node {
    background-color: #fff;
}

.angular-ui-tree-handle {
    background-color: #fff;
    border: none;
    border-top: 1px solid #ddd;
    color: #333;
    font-weight: normal;
}

.angular-ui-tree-handle:hover {
    background-color: #f9f9f9;
}

.angular-ui-tree-placeholder {
    border: 1px dashed #ddd;
    background-color: #f9f9f9;
}

.angular-ui-tree-drag {
    font-size: 14px;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
    
.editable-click, a.editable-click {
    color: #6fa717;
    border-bottom: 1px dashed #6fa717;
}

a:hover.editable-click {
    color: #44660e;
    border-bottom: 1px dashed #44660e;
}