<section id="leafFooter">
  <div id="footerContent">
    <div id="footerLeft">
      <strong>Coonti</strong><br/>
      Open source content management with Node.js
    </div>
    <div id="footerMiddle">
      <strong>License</strong><br/>
      Coonti is licensed with <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2.0 license</a> to maximise usage freedom.
    </div>
    <div id="footerRight">
      <strong>Contribute</strong><br/>
      Join the community at <a href="http://coonti.org" target="_blank">coonti.org</a>.
    </div>
    <div id="footerCommon">
      Executed by Coonti!<br/>
      Template {% templateName %}
    </div>
  </div>
</section>
</body>
</html>