<section id="leafFooter">
  <div id="footerContent">
    {% widgetArea Footer %}
    <div id="footerCommon">
      Executed by Coonti!<br/>
      Template {% templateName %}
    </div>
  </div>
</section>
</body>
</html>