<div id="moduleExampleModule">
  <h1 class="page-header">Quotes</h1>
  <table class="table table-striped table-condensed table-responsive" ng-show="quotesArray.length">
	<thead>
	  <tr>
		<th>Quote</th>
		<th>Actions</th>
	  </tr>
	  </thead>
	<tbody>
	  <tr ng-repeat="item in quotesArray|orderBy">
		<td>{{ item.$value }}</td>
		<td>
		  <a ng-click="remove(item.$key, item.$value)" href="">Remove</a>
		</td>
	  </tr>
	</tbody>
  </table>
  <p ng-show="!quotesArray.length">No quotes yet. Consider adding some.</p>
  
  <p><button goto="/module/quote/add">Add a New Quote</button></p>
</div>
