body {
    color: #333;
}

body#coontiFront {
    opacity: 0;
}

#frontPage, #contentImagePage, #contentNoImagePage {
    border: 8px solid #fff;
    border-top: none;
    border-bottom: none;
    padding: 0;
    overflow: hidden;
}

#frontPage {
    height: 100vh;
}

#contentImagePage {
    height: 70vh;
}

#contentNoImagePage {
    height: 40vh;
}

#frontPageBackgrounds {
    z-index: -90;
    position: relative;
}
    
#frontPageBackgrounds > div {
    height: 100vh;
    background-size: cover;
    z-index: -100;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

#frontPageBackgrounds div#contentImageBackground {
    opacity: 1;
}

#frontPageMenu {
    height: 100vh;
    z-index: -90;
    background-color: rgba(0, 0, 0, 0.25);
    border: 8px solid #fff;
    border-top: 16px solid #fff;
    border-bottom: 16px solid #fff;
}

#contentNoImagePage #frontPageMenu {
    background-color: #fff;
}

#coontiLogo img {
    height: auto;
    width: auto;
    max-height: 8vh;
    min-height: 25px;
    margin-top: 8vh;
    margin-left: 10vh;
}

#frontMenu {
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
    z-index: 100;
}

.frontMenuItem, .frontMenuItemStatic {
    padding-bottom: 8vh;
    color: #e8e8e8;
}

#contentNoImagePage .frontMenuItemStatic {
    color: #333;
    padding-bottom: 4vh;
}

.frontMenuItem {
    cursor: pointer;
}

.frontMenuItem:hover {
    color: #fff;
}

.frontMenuItem a, .frontMenuItemStatic span.contentImageTitle {
    color: inherit;
    font-size: 4vh;
    line-height: 5vh;
    display: block;
    font-weight: bold;
}

.frontMenuItem a:hover {
    text-decoration: none;
}

.frontMenuItemStatic span.contentImageTitle, .frontMenuItemStatic span.frontMenuItemIngress {
    color: #fff;
}

#contentNoImagePage .frontMenuItemStatic span.contentImageTitle, #contentNoImagePage .frontMenuItemStatic span.frontMenuItemIngress {
    color: #333;
}

.frontMenuItem span, .frontMenuItemStatic span {
    font-size: 2vh;
    display: block;
}

#pageContent {
    padding: 16px;
}

#contentArea {
    padding: 0 10vh;
}

#footerContent {
    padding: 0px 16px 16px 16px;
}

.menuRight {
    position: fixed;
    top: 0px;
    right: 0px;

    line-height: 4vw;
    color: #fff;
}

.menuRight a {
    color: #fff;
    font-size: 2vw;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #999;
    padding: 0 2vw;
}

.menuRight a:hover {
    color: #6fa717;
}

.menuRight .c-hamburger {
    float: right;
    margin: 32px;
    z-index: 1000;
}

.menuContent a:first-child {
    margin-top: 12vh;
    border-top: 1px solid #999;
}

/*
 * CSS3 hamburger menu by Nick Salloum (Call Me Nick)
 * http://callmenick.com/post/animating-css-only-hamburger-menu-icons
 */
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 8vh;
    height: 8vh;
    min-width: 32px;
    min-height: 32px;
    max-width: 64px;
    max-height: 64px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 43.75%;
    height: 12.5%;
    left: 18.75%;
    right: 18.75%;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
    top: -200%;
}

.c-hamburger span::after {
    bottom: -200%;
}

.c-hamburger--htx {
    background-color: #dcddde;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
    background-color: #6fa717;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}

.menuContainer {
    visibility: hidden;
    transition: visibility 0s 0.6s;
}

.menuContainer.is-active {
    visibility: visible;
    transition: visibility 0s 0s;
}

.menuContent {
    position: fixed;
    width: 30vw;
    height: 100%;
    top: 0;
    right: 0;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
    
    transform: translate3d(100%, 0, 0);

    background: rgba(0, 0, 0, 0.8);
    padding: 32px 0px 16px 0px;
}

.is-active .menuContent {
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
}

#scrollInstructions {
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    bottom: 32px;
    opacity: 0;
}

#leafFooter {
    padding: 0 16px 16px 16px;
}

#footerContent {
    padding: 16px 10vh;
    border-top: 1px solid #ccc;
    background-color: #ddd;
}

#footerContent #widgetArea-Footer div {
    float: left;
    width: 33%;
    padding: 0 11px;
}

#footerContent #widgetArea-Footer div.widget-first {
    padding-left: 0px;
    padding-right: 11px;
}

#footerContent #widgetArea-Footer div.widget-last {
    padding-left: 11px;
    padding-right: 0px;
}

#footerCommon {
    clear: both;
    padding-top: 1em;
}

@media (max-width: 768px) {
    #coontiLogo img {
	max-height: 4vh;
	margin-top: 4vh;
	margin-left: 5vh;
    }

    #frontMenu {
	margin-top: 5vh;
	margin-left: 5vh;
    }
    
    #contentImagePage {
	height: 35vh;
    }

    .frontMenuItem, .frontMenuItemStatic {
	padding-bottom: 4vh;
    } 

    .frontMenuItem a, .frontMenuItemStatic span.contentImageTitle {
	font-size: 3vh;
	line-height: 4.2vh;
    }

    .frontMenuItem span, .frontMenuItemStatic span {
	font-size: 1.5vh;
    }

    #contentArea {
	padding: 0 5vh;
    }

    .menuContent {
	width: 60vw;
    }

    .menuRight {
	line-height: 8vw;
    }
    
    .menuRight a {
	font-size: 4vw;
	padding 0 4vw;
    }

    .c-hamburger {
	width: 6vh;
	height: 6vh;
    }

    .c-hamburger span {
	top: 2.7vh;
	height: 0.6vh;
	left: 1.2vh;
	right: 1.2vh;
    }

    .c-hamburger span::before,
    .c-hamburger span::after {
	height: 0.6vh;
    }
    
    .c-hamburger span::before {
	top: -1.35vh;
    }
    
    .c-hamburger span::after {
	bottom: -1.35vh;
    }

    #footerContent {
	padding: 16px 5vh;
    }

}

@media (max-height: 768px) {
    .frontMenuItem, .frontMenuItemStatic {
	padding-bottom: 24px;
    }

    .frontMenuItem a, .frontMenuItemStatic span.contentImageTitle {
	font-size: 24px;
	line-height: 30px;
    }

    .frontMenuItem span, .frontMenuItemStatic span {
	font-size: 14px;
    }
}
	
